<h1>Books</h1>

<a href="/books/new">Create New Book</a>

{{!-- The 'this' in this context refers to the specific Book being handled at the time in the loop --}}


{{#each books}}
<div>
    <p>Name: {{ this.name }}</p>
    <p>Bio: {{ this.bio }}</p>
    <p>Gender: {{ this.gender }}</p>
</div>

<a href="/books/{{this._id}}">View Book</a>
{{!-- notice the "?_method=DELETE" this must be added to use a delete verb --}}
{{!-- Its a query param which is given 'method=DELETE' --}}
<a href="/books/{{this._id}}?_method=DELETE">Delete Book</a>
{{!-- This horizontal line is frowned upon --}}

{{!-- add link to edit method --}}
<a href="/books/{{this._id}}/edit">Edit Book</a>
<hr />
{{/each}}